<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Motel_Booking.Properties.Settings.GroupWst29ConnectionString"
            connectionString="Data Source=146.230.177.46;Initial Catalog=GroupWst29;User ID=GroupWst29;Password=nej8f"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>